$body-bg: #121a0d;
$primary: #89997e;
$secondary: #b55119;
$success: #225436;
$info: #d49f49;
$warning: #e4b563;
$danger: #6a3131;
$light: #f8f4eb;
$dark: #242222;
$grey: #c6c5c2;

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular,
Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));

$colors: ("primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "info": $info,
  "dark": $dark,
  "grey": $grey,
);

$color-ranges: (0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);